---
import { getSession } from 'auth-astro/server'
import { SignIn, SignOut } from 'auth-astro/components'

const providers = ['github', 'reddit'] as const

const session = await getSession(Astro.request)
---

{
  session ? (
    <SignOut>Logout</SignOut>
  ) : (
    <div>
      {providers.map((provider) => (
        <SignIn key={provider} provider={provider}>
          Sign in with {provider}
        </SignIn>
      ))}
    </div>
  )
}
<p>
  {
    session?.user ? (
      <>
        Logged in as {session.user.email}
        {`(${session.user.name})`}
        {session.user.image && (
          <img width="150" src={session.user.image} alt={session.user.name} />
        )}
      </>
    ) : (
      'Not logged in'
    )
  }
</p>
